.btn {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 100rem;
  height: 4rem;
  width: 4rem;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.btn:hover {
  box-shadow: 0 0 15px var(--primary-color);
}

.btn:active {
  background-color: brightness(#7fffd4, 50%);
  box-shadow: 0 0 10px var(--primary-color);
}
